<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  
   <bean id="factroyWorker" class="right.way.learning.third.application.bean.life.cycle.FactroyWorker" init-method="myInit" destroy-method="myExitLogic" ></bean>
  
    
</beans>    